<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>746440206447-3vuhcjhgj06qajln2eo32faju6nncfik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746440206447-3vuhcjhgj06qajln2eo32faju6nncfik</string>
	<key>API_KEY</key>
	<string>AIzaSyBym_XdDResd-0aYUyBdq2YO6YIRckU8ak</string>
	<key>GCM_SENDER_ID</key>
	<string>746440206447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ioslab.scores</string>
	<key>PROJECT_ID</key>
	<string>scores-5ff4c</string>
	<key>STORAGE_BUCKET</key>
	<string>scores-5ff4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746440206447:ios:4ea6c15ba2716738</string>
	<key>DATABASE_URL</key>
	<string>https://scores-5ff4c.firebaseio.com</string>
</dict>
</plist>